<!doctype html>
<html>
  <head>
    <title>About <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=forumName%></h1>
    <p>All sorts of topics and mango nonsense!</p>
  </body>
</html>