<!doctype html>
<html>
  <head>
    <title>Welcome to <%= forumName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <header class="navbar">
      <h1>Welcome to <%= forumName %></h1>
      <!-- Only allow a logout if the browser has cached a username, aka a live session -->
      <% if (forumUsername != "") { %>
        <div class="user-info">
          <p>Welcome, <%= forumUsername %>!</p>
          <form action="/logout" method="post">
            <button type="submit">Logout</button>
          </form>
        </div>
      <% } %>
    </header>
  
    <nav>
      <ul class="nav-links">
        <li><a href="/topics">List Topics</a></li>
        <li><a href="/users">List Users</a></li>
        <li><a href="/posts">List Posts</a></li>
        <li><a href="/addpost">Add a New Post</a></li>
        <li><a href="/search">Search for Posts</a></li>
        <li><a href="/about">About <%= forumName %></a></li>
        <!-- Only allow a login/register if the browser has not cached a username -->
        <% if (forumUsername == "") { %>
            <li><a href="/login">Login/Register</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
