<!doctype html>
<html>
  <head>
    <title>Welcome to <%= forumName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%= forumName %></h1>
    <ul>
      <li><a href="/topics">List Topics</a></li>
      <li><a href="/users">List Users</a></li>
      <li><a href="/posts">List Posts</a></li>
      <li><a href="/addpost">Add a New Post</a></li>
      <li><a href="/search">Search for Posts</a></li>
      <li><a href="/about">About <%= forumName %></a></li>
    </ul>
  </body>
</html>
