<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Mango Forums Posts:</h1>
    <section class="forum-posts">
      <ul>
        <!-- Create a loop to iterate through all posts in postsData array -->
        <% for (let i = 0; i < postsData.length; i++) { %>
          <li class="post">
            <div class="post-details">
              <!-- Display post details, such as creator, and topic -->
              <p>Posted By <%= postsData[i].creatorUsername %> -> <%= postsData[i].topicName %></p>
            </div>
            <div class="post-content">
              <!-- Display larger text content for the post -->
              <strong><%= postsData[i].description %></strong> 
            </div>
          </li>
        <% } %>
      </ul>
    </section>
  </body>
</html>