<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Mango Forums Topics:</h1>
    <ul>
        <!-- Create a for loop to go through all topics array-->
        <% for (let i = 0; i < topicsData.length; i++) { %>
            <li>          
                <!-- At each index get the name and creator and put join them in the list element-->
                <strong><%= topicsData[i].topicName %></strong> -> Created By <%= topicsData[i].creatorUsername %>
            </li>
        <% } %>
    </ul>
  </body>
</html>