body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
}

h1, ul {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Added this line */
}

li {
  margin-right: 10px; /* Adjusted margin property */
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #007BFF;
}
